.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1064px;
    width: 100%;
    margin: 0 auto;

    padding: 24px 20px;
}

.nav a {
    color: #8257e5;
}

.content {
    max-width: 776px;
    width: 100%;
    margin: 0 auto;

    padding: 24px 20px;

    color: #a8a8b3
}

.content h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.content h2 {
    margin-top: 10px;
    font-size: 18px;
}

.content p {
    margin: 20px 0;
}


.image {
    width: 800px;
    height: auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-items: center;

    max-width: 1064px;
    width: 100%;
    margin: 0 auto;

    padding: 24px 20px;
}

.footer a {
    padding: 1rem 2rem;
    border-radius: 5px;
    background: #202024;
    margin-left: 20px;

    color: #996dff
}